


#modal-wrapper {
    position:absolute;
    top : 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: black;

}


#member-modal {
    border: black solid 5px;
    position:absolute;
    top: 20px;
    left: 20vw;
    background-color: grey;
    height: 90vh;
    width: 60vw;
    opacity: 1;
}

#member-modal #close-modal {
    position: relative;
    bottom: 0;
}

.member-item {
    background-color:bisque;
    margin: 5px;
    
    width: 60vw ;
    height: 8vh;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.name-wrapper {
    border: 1px solid;
    flex-grow: 2;
    height: 8vh;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.name-wrapper h1 {
    margin: auto auto;
}


.member-item button {
    border: none;
    color: white;
    background-color: black;
    height: 8.3vh;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
