
.note-item-wrapper {
    height: 20vh;
    width: 20vh;
    margin: 4px;
}

.note-item-wrapper >img {
    max-height: 17vh;
    max-width: 17vh;
}

#notes-thumbnails {
    display: grid;
   width: 100vw;
    grid-template-columns: repeat(auto-fit, minmax(150px , 1fr));
    grid-gap: 10px;
}



.image-view-modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
   
}


.dialog-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
   
   background-color: rgba(155, 153, 153, 0.4);
    justify-content: center;
    align-content: center;
}

.mod-wrapper {
   
    background-color: black;
    max-width: 60vw ;
    
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto;

}

.mod-wrapper div {
    height: 50px;
    background-color: green;

}

.mod-wrapper div h1 {
    font-size: larger;
    text-align: center;

}

.mod-wrapper img {
    max-width: 60vw;
    max-height: 80vh;
}

.mod-wrapper button {
    height: 30px;
    width: 70px;
    bottom: 0;
    margin:  auto auto;
}


#add-note-modal {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(82, 95, 82, 0.726);

}

.note-dialog-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

.note-mod-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-between;
    background-color: #d4e09b;
    width: 60vw;
    height: 50vh;
    margin: auto auto;
}

.note-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 30px;
}

.note-form input {
    width: 70px;
}